.products
    margin-top: 16px
    display: grid
    grid-template-columns: repeat(2, 1fr)
    gap: 32px 16px
    width: 100%
    @media (min-width: 768px)
        gap: 64px 20px 
        grid-template-columns: repeat(3, 1fr)


.colors
    position: absolute
    bottom: 16px
    left: 16px
    font-size: 12px
    display: flex
    align-items: center
    gap: 4px
    img
        width: 16px
        height: 16px
        border-radius: 50%
        &:not(.colors > img:first-child)
            margin-left: -4px
.card_big
    width: 100%
    position: relative
    grid-column: span 2
    .image
        padding-bottom: 72%         
        background: url(/notphoto.png) #ffffff center/contain no-repeat
        &_big
            background-size: contain
        @media (min-width: 768px)
            padding-bottom: 67%    
        @media (min-width: 1200px)
            padding-bottom: 70%    

.card
    word-break: break-all
    position: relative
    .image
        padding-bottom: 100%
        background: url(/notphoto.png) #ffffff center/cover no-repeat
    .name
        font-size: 16px
        line-height: 120%
        @media (min-width: 1200px)
            font-size: 20px
.image
    background:  url(/notphoto.png) #ffffff center/cover no-repeat
    border: 1px solid #DBD5DE
    margin-bottom: 20px
    position: relative
    
.name
    color: var(--grey-800)
    font-size: 24px
    line-height: 116%
    margin-bottom: 4px
    word-break: normal
.sizes
    display: flex
    gap: 4px
    margin: 8px 0 10px
.size
    cursor: pointer
    padding: 4px 6px 3px
    color: var(--Grey-800)
    text-align: center
    font-size: 12px
    line-height: 1
    border-radius: 5px
    border: 1px solid var(--Grey-300)

.price
    font-style: italic
    display: flex
    gap: 8px
    align-items: center
    img
        display: none
        @media (min-width: 1200px)
            width: 24px
            display: block

.new
    color: var(--grey-800)
    font-size: 18px
    line-height: normal
    @media (min-width: 1200px)
        font-size: 20px

.old
   
    @media (min-width: 1200px)
        color: var(--grey-500)
        font-size: 14px
        line-height: normal
        text-decoration: line-through

.pin
    position: absolute
    top: -5px
    left: 16px
    display: flex
    gap: 4px
    z-index: 1

.card_big
    .pin
        left: 24px

.wrap
    @media (min-width: 768px)  
        width: 100%
    @media (min-width: 1200px)
        width: 1015px 
.pc
    display: none
    @media (min-width: 768px)
        display: block

.mobile
    display: block
    @media (min-width: 768px)
        display: none
       
.load
    display: flex
    justify-content: center
    

.flex
    display: flex
    gap: 0 16px
    @media (min-width: 768px)
        gap: 0 20px


.card_flex
    width: calc(50% - 8px)
    @media (min-width: 768px)
        width: calc(50% - 10px)