.aside
  position: absolute
  background-color: var(--grey-25)
  border-radius: 16px
  padding: 24px 24px 24px 16px
  border: 1px solid var(--grey-300)
  z-index: 3
  transition: .3s
  top: 8px
  @media (min-width: 1200px)
    position: static
    width: 303px
    padding: 0
    padding-top: 32px
    flex-shrink: 0
    font-size: 14px
    color: var(--grey-800)
    background-color: #fff0
    border: none
    border-radius: none
.close
  opacity: 0
  pointer-events: none
  @media (min-width: 1200px)
    opacity: 1
    pointer-events: all

.open
  opacity: 1
  pointer-events: all

.switch
  position: relative
  display: inline-block
  width: 32px
  height: 20px

.switch .input
  display: none

.slider
  position: absolute
  cursor: pointer
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: #ccc
  -webkit-transition: .4s
  transition: .4s

.slider:before
  position: absolute
  content: ""
  height: 20px
  width: 20px
  left: 0px
  bottom: 0px
  background-color: #fff
  -webkit-transition: .4s
  transition: .4s

.input:checked + .slider:before
  background-color: var(--grey-900)

.input:focus + .slider
  box-shadow: 0 0 1px #2196F3

.input:checked + .slider:before
  transform: translateX(14px)

/* Rounded sliders */
.slider.round
  border-radius: 34px

.slider.round:before
  border-radius: 50%

.line
  display: flex
  width: 100%
  align-items: center
  gap: 16px
  justify-content: space-between
  &_sale
    display: flex
    gap: 16px
    @media (min-width: 1200px)
      width: 100%
  @media (min-width: 1200px)
    margin-top: 8px

.title
  text-transform: uppercase
  margin-top: 24px
  display: flex
  gap: 8px
  align-items: center
  cursor: pointer
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
  &_grey
    color: var(--grey-500)
    cursor: text

.resert
  color: var(--grey-600)
  cursor: pointer
  @media (min-width: 1200px)
    display: none

.close_btn
  border-radius: 70px
  border: 1px solid var(--grey-900)
  padding: 9px 32px
  display: inline-block
  font-size: 16px
  text-transform: uppercase
  margin: 33px auto 0
  cursor: pointer

.close_btn_center
  display: flex
  justify-content: center
  @media (min-width: 1200px)
    display: none
